* {
    margin: 0;
    overflow-y: hidden;
}

::selection {
    background-color: #ffffff54;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://images.pexels.com/photos/3875821/pexels-photo-3875821.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

input {
    background-color: white;
    height: 60px;
    width: 200px;
    font-size: xx-large;
    border-radius: 5px;
    margin-top: 35px;
    border: 0;
    padding-left: 10px;
    outline: none;
}

button {
    height: 60px;
    width: 130px;
    margin-top: 30px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    color: white;
    background: rgba(255, 255, 255, 0);
    font-size: medium;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

button:hover {
    filter: drop-shadow(0 0 2px white);
    transform: scale(1.04);
    transition: all 0.3s ease-out;
}

#converter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 25%);
    border-radius: 10px;
    padding: 60px;
}


h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: normal;
    font-size: xx-large;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #6b6b6b;
    color: white;
    font-weight: normal;
    font-size: xx-large;
    margin-top: 20px;
    padding: 5px;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

p {
    visibility: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: normal;
    font-size: x-large;
    margin-top: 20px;
    opacity: 0;
    transition: opacity 0.2s ease;
}